<footer>
  <p>
    We are so social! <a href="https://twitter.com/fishandscripts">Follow Fish and Scripts on Twitter</a> for all the latest information on episodes and upcoming topics.
  </p>
</footer>
