<header>
  <h1><a href="/">FishAndScripts</a></h1>
  <p class="subtitle">A podcast by two Brits with opinions and puns.</p>
  <ul class="subscriptions">
    <li class="subscribe-on">Subscribe:</li>
    <li><a href="https://twitter.com/fishandscripts">Twitter</a></li>
    <li><a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy9jZjQwYmQwL3BvZGNhc3QvcnNz">Google Podcasts</a></li>
    <li><a href="https://open.spotify.com/show/25Itv5R9zPyOpi6uby8Uwm">Spotify</a></li>
    <li><a href="https://www.breaker.audio/fish-and-scripts">Breaker</a></li>
    <li><a href="/feed.xml">RSS</a></li>
    <li class="more">More coming soon!</li>
  </ul>
</header>
