---
layout: default
pageClass: episode
templateEngineOverride: njk, md
---

<p class="episode-data">
  <time datetime="{{ date }}">{{ date | dateDisplay("LLLL d, y") }}</time>
  {{ episode }}
</p>
<h2>{{ title }}</h2>
<div class="episode-subtitle">
  {{ subtitle }}
</div>
<iframe src="{{ audioURL }}" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>
<main>
  {{ content | safe }}
</main>
