@import '_variables.css';
@import '_syntax.css';

* {
  margin: 0;
  padding: 0;
}

::-moz-selection {
  background-color: $text-color;
  color: $page-color;
}
::selection {
  background-color: $text-color;
  color: $page-color;
}

body {
  text-align: center;
  background-color: $page-color;
  color: mix($text-color, $page-color, 90%);
  font-family: sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.8;
  min-height: 100vh;

  @media (min-width: $narrow) {
    font-size: 18px;
  };
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  text-align: left;
  @media (min-width: $mid) {
    width: 600px;
  };
  @media (min-width: $wide) {
    width: 700px;
  };
}


header {
  margin-top:3em;
  margin-bottom:3em;
}

h1, h2, h3 {
  color: $text-color;
  font-weight: 600;
  margin-bottom:0.2em;
  line-height: 1;
}
h1 {
  font-size: 2em;
  margin-top:0.4em;
  margin-bottom:0;
  line-height: 1;

  @media (min-width: $mid) {
    font-size: 2.5em;
  };
  @media (min-width: $wide) {
    font-size: 3em;
  };
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.subtitle {
  font-size: 1em;
  color: mix($text-color, $page-color, 60%);
  margin-top: 0;
  margin-bottom: 0.2em;
}

time {
  font-size: 1em;
}

.episode-data {
  margin: 0;
  font-size: 0.9em;
  color: mix($text-color, $page-color, 60%);
  time {
    display:block;
    font-size: 0.7em;
  }
}

ul, ol {
  padding-left: 1em;
}

a:link,
a:visited {
  color: $text-color;
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: mix($text-color, $accent-color, 20%)
}
a:hover,
a:focus {
  color: $text-color;
  border-bottom-color: $text-color;
}

h1 a:link,
h1 a:visited,
h1 a:hover,
h1 a:focus {
  border-bottom-style:none;
}



footer {
  margin-top: 6em;
  padding-top: 4em;
  padding-bottom: 6em;
  font-size: 0.7em;
  color: mix($text-color, $accent-color, 50%);

  a:link,
  a:visited {
    color: mix($text-color, $accent-color, 90%);
    border-bottom: solid 1px mix($accent-color, $page-color, 70%);
  }
  a:hover,
  a:focus {
    color: $text-color;
    border-bottom: solid 1px $text-color;
  }
}

.listing {
  list-style: none;
  margin: 0;
  margin-top: 3em;
  padding: 0;

  h3 {
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    font-size: 1.8em;
    line-height: 1.2;
  }

  li {
    padding-bottom: 3em;
  }
  li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }

  li.shout {
    padding: 2em;
    margin-left: -1em;
    margin-right: -1em;
    margin-bottom: 3em;
    border-radius: 3px;
    background-color: $text-color;
    color: mix($page-color, $text-color, 80%);

    .episode-data {
      color: mix($text-color, $page-color, 30%);
    }

    a:link,
    a:visited {
      color: mix($page-color, $text-color, 90%);
    }
  }
}


iframe {
  margin-top: 2em;
  margin-bottom: 2em;
}

main h2 {
  margin-top: 1.5em;
  margin-bottom: 0.6em;
}

.anchor-iframe {
  max-width: 100%;
  width: 500px;
  height: 102px;
}


.subscriptions {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.subscriptions li {
  padding: 2px 5px;
}

.subscriptions li:first-of-type {
  padding-left: 0;
}
.subscriptions li:last-of-type {
  padding-right: 0;
}

.subscriptions .more {
  font-style: italic;
}